
header{
    background-color:$primary_color;
    .header-box{
        justify-content: space-between;
        align-items: center;
      }
    .menu a{
        font-size: 20px;
        padding: 25px;
    }
  
  }


